.app-wrapping-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.window-content.window-content-vertical {
  flex-flow: column nowrap;
}

.list-group.list-group-not-stretch {
  align-self: flex-start;
}

.list-group-header.list-group-header-with-gradient {
  background: linear-gradient(white 0%, #fff 50%, #ddd 100%)
}

.list-group-header-with-gradient h4 {
  text-align: center;
  margin: 0;
}

 .list-group-header-with-gradient + .list-group-item, .list-group-header-with-gradient + form {
    border-top: 1px solid #ddd;
}

.list-group:last-child {
    border-bottom: 1px solid #ddd;
}

.list-group-item:nth-child(even){
  background: #eee
}

.list-group-item.no-devices-list-item {
  text-align: center;
  padding: 1rem;
}

.device-list-element {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.device-list-element > .radio {
  position: absolute;
  right: 1rem;
}

.icon.device-list-device-icon {
  font-size: 250%;
  margin: 0 2rem 0 1rem;
}

dl.inline-flex-description-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    min-width: 20%; /* set the container width*/
    overflow: visible;
}
dl.inline-flex-description-list dt {
    flex: 0 0 40%;
    text-overflow: ellipsis;
    overflow: hidden;
}
dl.inline-flex-description-list dd {
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 0 60%
}

.commands .form-group {
  margin: 0;
}

.commands h4, .packages h4 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: linear-gradient(white 0%, #fff 50%, #ddd 100%)
}

.commands table.table-striped {
  border-bottom: 1px solid #ddd;
}
.commands table.table-striped tbody td:first-child {
  font-style: italic;
}

.command-selection-padded-label{
  padding-left: 10px;
  margin-bottom: -0.5rem;
  line-height: 2rem;
}

.form-control.command-selection-dropdown {
  background-color: #eee;
  margin: 0 5px;
  width: calc(100% - 10px);
}

.form-control.command-selection-dropdown:focus {
  box-shadow: unset;
}

.form-control.padded-command-input {
  width: calc(100% - 8.5rem);
  margin-top: 5px;
}

.btn.command-execute-padded-buton {
  margin-top: 10px;
  margin-right: 5px;
}

.form-control.executed-command-output {
  margin: 5px 5px 0;
  width: calc(100% - 10px);
  max-height: 8.3rem;
  resize: vertical;
}

.packages{
  display: flex;
  flex-flow: row wrap;
}

.drag-n-drop-for-packages {
  width: calc(50% - 10px);
  height: 6rem;
  line-height: 5rem;
  border: 5px dotted #ccc;
  border-radius: 1rem;
  margin: 5px 5px 0;
}
.drag-n-drop-for-packages p {
  margin: 0;
  text-align: center;
}

.form-control.files-to-install {
  margin: 5px 5px 0;
  width: calc(50% - 10px - 55px);
  max-height: 8.3rem;
  resize: none;
}

.btn.install-packages-padded-buton {
  margin: 5px 5px 0 0;
  width: 50px;
}